# Use pnpm
package-manager=pnpm

# Strict peer dependencies
auto-install-peers=false
strict-peer-dependencies=false

# Hoist pattern
shamefully-hoist=false
public-hoist-pattern[]=@angular/*
public-hoist-pattern[]=@angular-devkit/*
